.home {
  padding: 24px;

  h1 {
    font-size: 30px;
    margin: 0 0 40px;
  }

  h2 {
    font-size: 25px;
    text-align: left;
    margin: 0;
  }

  .json-info {
    text-align: left;
    width: 40%;

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7px 10px;
      border-radius: 4px;
      border: 1px solid lightgrey;
    }

    input {
      display: none;
    }
  }

}